// Colors
$footer: #222;

$pages: (
  home: #2980b9,
  about: #16a085,
  projects: #e74c3c,//#c0392b,
  contact: #f1c40f,//#8e44ad,
);

$social: (
  delicious: #248cff,
  facebook: #3b5998,
  github: #4183c4,
  linkedin: #007bb6,
  twitter: #00aced,
  youtube: #b00,
  bitbucket: #205081,
);


// Grid
$small: 500px;
$med: 800px;
$wide:1200px;
