// Colors
$footer: #222;

$dark: #2c3e50;

$dark-red:#c0392b;
$red:#e74c3c;

$gray: #7f8c8d;

$dark-blue: #3498db;

$orange: #e67e22;

$yellow: #f1c40f;

$social: (
  delicious: #248cff,
  facebook: #3b5998,
  github: #4183c4,
  linkedin: #007bb6,
  twitter: #00aced,
  youtube: #b00,
  bitbucket: #205081,
);


// Grid
$small: 500px;
$med: 800px;
$wide:1200px;
