/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Colors
$footer: #222;

$dark: #40474D;

$dark-red:#c0392b;
$red:#e74c3c;

$gray: #7f8c8d;

$blue: #4EAACC;
$dark-blue: #3498db;

$orange: #E96E57;

$yellow: #f1c40f;

$social: (
  delicious: #248cff,
  facebook: #3b5998,
  github: #4183c4,
  linkedin: #007bb6,
  twitter: #00aced,
  youtube: #b00,
  bitbucket: #205081,
  google: #d34836,
);


// Grid
$small: 360px;
$med: 500px;
$norm: 960px;
$wide:1200px;


$btn: $blue;
$link: $orange;
