// ~~~~~~*******#######     ______   _______  _______    _______  ______    _______  _______ 
// ~~~~~~*******#######    |      | |   _   ||       |  |       ||    _ |  |   _   ||       |
// ~~~~~~*******#######    |  _    ||  |_|  ||_     _|  |_     _||   | ||  |  |_|  ||    _  |
// ~~~~~~*******#######    | | |   ||       |  |   |      |   |  |   |_||_ |       ||   |_| |
// ~~~~~~*******#######    | |_|   ||       |  |   |      |   |  |    __  ||       ||    ___|
// ~~~~~~*******#######    |       ||   _   |  |   |      |   |  |   |  | ||   _   ||   |    
// ~~~~~~*******#######    |______| |__| |__|  |___|      |___|  |___|  |_||__| |__||___|    




/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/

/**
 * Imports................Brings in FontAwesome, Compass, Toolkit, Breakpoint, Reset, Susy2, Mixins, Variables and Components
 * Components.............Site Components 
 * * Base.................Base Element Styles
 * * Typography...........Base Type Styles
 * * Utility Classes......Reusable Utilities
 * Page Content...........Page Content
 */





/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/

@import "fontawesome/variables";
@import "fontawesome/mixins";
@import "fontawesome/path";
@import "fontawesome/core";
@import "fontawesome/larger";
@import "fontawesome/fixed-width";
@import "fontawesome/list";
@import "fontawesome/bordered-pulled";
@import "fontawesome/spinning";
@import "fontawesome/rotated-flipped";
@import "fontawesome/stacked";
@import "fontawesome/icons";

@import "compass";
@import "toolkit";
@import "breakpoint";
@import 'mixins';
@import 'vars';
@import "reset";
@import 'components/**/*';





/*------------------------------------*\
    $PAGE_CONTENT
\*------------------------------------*/

.edit-btn {
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  opacity: 0;
  @include fs(18px);
  color: $gray;
  @include trans;
}

.header {
  @include clearfix;
  background: $dark; 
  color:#eee;
  padding:0 10%;
  span {
    display: block;
    float: left;
    margin-top: 40px;
  }
  border-bottom: 4px solid $orange;
}

.site-title {
  float: left;
  margin:0 20px 0 0;
  font-weight: 300;
  line-height: 84px;
  a {
    color: white;
    text-decoration: none;
  }
  img {
    height: 35px;
    margin-right: 16px;
  }
}

.site-nav {
  float: right;
  ul {
    li {
      float: left;
      @include fs(18px);
      a {
        text-align: center;
        display: block;
        text-decoration: none;
        color:#eee;
        background: $dark;
        @include trans;
        padding: 20px 20px 16px;
        border-bottom: 4px dotted $dark;
        &:hover {
          background: $dark + 20;
          border-bottom: 4px solid $link;
          i {
            top:-4px;
          }
        }
        i {
          display: block;
          margin-bottom: 4px;
          position: relative;
          top:0;
          @include trans;
        }
      }
    }
  }
}

main {
  padding:40px 10%;
}

.new-client-btn, .new-project-btn  {
  float: right;
  @include clearfix;
}

/*-- $HOMEPAGE --*/
.form-login {
  background: white;
  border:solid 1px #eee;
  @include border-radius(5px);
  padding: 20px;
  width: 50%;
  float: left;
}


/*-- $PROFILE --*/

.profile-container {
  
}

.profile-type {
  background: white;
  width: 49%;
  float: left;
  padding: 20px;
  @include trans;
  @include border-radius(5px);
  @include box-shadow(1px 1px 4px rgba(black, 0.0));
  &:nth-child(even) {
    margin-left: 2%;
  }
  &:hover {
    @include box-shadow(1px 1px 4px rgba(black, 0.2));
  }
}

.todo-wrapper {
  
}

/*-- $CLIENTS --*/

.client-grouping {
  @include clearfix;
  margin-top: 60px;
}


.client-status-container {
  @include clearfix;
  @include breakpoint($norm) {
    width: 49%;
    float: left;
    &:nth-child(odd) {
      margin-right: 2%;
    }    
  }
}

.client-container {
  overflow: hidden;
  min-height: 120px;
  position: relative;
  width: 100%;
  padding:160px 3%  15px;
  background: white;
  margin-bottom: 20px;
  min-height: 400px;
  max-width: 350px;
  @include trans;
  @include clearfix;
  @include border-radius(5px);
  @include box-shadow(1px 1px 4px rgba(black, 0.0));
  @include breakpoint($med) {
    width: 49%; 
    float: left;
  }
  &:nth-child(odd) {
    margin-left: 1%;
  }
  &:hover {
    @include box-shadow(1px 1px 4px rgba(black, 0.2));
  }
  &.inactive {
    opacity: 0.5;
  }
  &.neverwas {
    opacity: 0.2;
  }
  .client-image {
    position: absolute;
    width: 350px;
    height: 187px;
    top:0;
    left:0;
    z-index: 10;
    border-bottom: 4px solid #eee;
  }
  .client-grav {
    border:solid 4px white;
    border-radius: 100px;
    width: 100px;
    position: relative;
    z-index: 105;
    display: block;
    margin: 0 auto;
    top: -40px;
    background: #666;
    @include box-shadow(1px 1px 4px rgba(black, 0.2));
    @include trans;
  }
  
  .client-details {
    position: relative;
    z-index: 100;  
  }

  .client-name {
    margin-bottom: 10px;  
  }

  h5 {
    @include fs(20px);
    margin-bottom: 10px;
  }

  .client-status {
    text-transform: capitalize;  
  }
  
  .client-email {
    margin-bottom: 20px;  
  }

  .client-options {
    @include clearfix;
    li {
      float: left;
      width: 33.3333%;
      padding:10px 10%;
      text-align: center;
      a {
        @include fs(32px);
        color: #ccc;
        @include trans;
        display: block;
        position: relative;
      }
      & + li {
        border-left: 1px solid #eee;
      }
      &:hover {
        > a > span {
          bottom: -22px;
          opacity: 1;
        }
      }
    }
    span {
      opacity: 0;
      position: absolute;
      bottom:-40px;
      @include fs(13px);
      text-transform: uppercase;
      display: block;
      right: -38.5px;
      width: 115px;
      background: #EEE;
      color: #999;
      border-radius: 4px;
      padding: 3px 7px;
      @include trans;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -25px;
        right: 42.5px;
        border-bottom:solid 15px #eee;
        border-right:solid 15px transparent;
        border-left:solid 15px transparent;
        border-top:solid 15px transparent;
      }
    }
  }

  .client-email-icon {
    &:hover {
      color:$red;
    }
  }

  .client-briefcase-icon {
    &:hover {
      color:#333;
    }
  }

  .client-calendar-icon {
    &:hover {
      color:$dark-blue;
    }
  }  

  &:hover {
    .client-grav {
      top:-48px;
    }
    .edit-btn {
      opacity: 1;
    }
  }

  .client-edit-form {
    input[type='text'] {
      width: 100%;
      display: block;
      margin-bottom: 5px;
      border: dashed 2px #eee;
    }
    input[type='checkbox'] {
      display: inline-block;
    }
  }
  .client-edit-form-save {
    float: right;
  }
}


.project-container {
  padding:15px 1.5%;
  background: white;
  margin-bottom: 10px; 
  width: 100%;
  @include clearfix;
  @include border-radius(5px);
  .project-details {
    @include clearfix;
  }
  .project-money {
    float: right;
  }
  &:hover {
    .edit-btn {
      opacity: 1;
    }
  }
}

.todos-list {
  .complete {
    text-decoration:line-through;
    opacity: 0.5;
    &:before {
      opacity: 1; 
    }
  }
}

.todo-item {
  margin-bottom: 5px;
  cursor: pointer;
  @include trans;
  &:before {
    content: '\f00c';
    font-family:'FontAwesome';
    color:$red;
    opacity: 0.1;
    margin-right: 10px;
    @include trans(0.1s);
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.expense-form {
  
}
