<form method="post">
  <input type="text" name="name" placeholder="Client Name" />
  <input type="text" name="contact" placeholder="Contact Name" />
  <input type="text" name="email" placeholder="Contact Email" />
  <input type="checkbox" name"active" />
  <input type="submit" />
</form>