<% layout('../layout') -%>
<a class="btn new-client-btn" href="/clients/new/">Add New Client</a>
<h2>Clients</h2>
<p class="headline">Add, track and manage your clients.</p>

<div class="client-grouping">
<div class="client-status-container">
  <h3>Active</h3>
  <%-partial('client',clients)%>  
</div>

<div class="client-status-container">
  <h3>Potential</h3>
  <%-partial('client',potential)%>
</div>
</div>

<div class="client-grouping">
<div class="client-status-container">
  <h3>Inactive</h3>
  <%-partial('client',iaclients)%>
</div>

<div class="client-status-container">
  <h3>Neverwas</h3>
  <%-partial('client',neverwas)%>
</div>
</div>

