<% layout('../layout') -%>
<a class="btn new-project-btn" href="/projects/new/">Add New Project</a>

<h2>Projects</h2>

<h3>Current Projects</h3>
<%-partial('project',projects)%>

<h3>Inactive Projects</h3>
<%-partial('project',iaprojects)%>