h1 {
  margin-bottom: 30px;
}

h2 {
  @include fs(38px);
  margin-bottom: 30px;
}

h3 {
  margin-top: 40px;
  font-weight: 500;
  color: #CCC;
  @include fs(40px);
  margin-bottom: 20px;
  &.project-title {
    @include fs(22px);
    color: $dark;
    // &:after {
    //   content: $fa-var-external-link;
    //   font-family:'FontAwesome';
    //   font-size:16px;
    //   margin-left: 10px;
    //   opacity: 0.5;
    // }
  }
}

h4 {
  margin-bottom: 10px;
  color: #aaa;
}