/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/


.hide {
  display: none !important;
}

.full {
  width: 100% !important;
}

.red {
  color: $red !important;
}
