<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SteelTrap</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" /> 
       
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">

  </head>

  <body>
    <header class="header">
      <h2 class="site-title"><a href="/"><img src="/img/logo.svg" />SteelTrap</a></h2>
      <span>A <i>personal</i>, personal assistant</span>
      <nav class="site-nav">
        <ul>
          <li><a href="/clients"><i class="fa fa-users"></i>Clients</a></li>
          <li><a href="/projects"><i class="fa fa-briefcase"></i>Projects</a></li>
          <li><a href="/events"><i class="fa fa-calendar"></i>Events</a></li>
          <li><a href="/expenses"><i class="fa fa-dollar"></i>Expenses</a></li>
        </ul>
      </nav>
    </header>
    <main>
    <%- body %>
    </main>
    <script src="/js/lib/jquery-1.11.0.min.js"></script>
    <script src="/js/lib/picker.js"></script>
    <script src="/js/lib/picker.date.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/script.js"></script>
  </body>
  
</html>