<% layout('layout') -%>

  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% } %>

  <!-- LOGIN FORM -->
<div class="form-login">
  <form action="/signup" method="post">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" name="password-confirm">
    </div>
    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
  </form>
    <p>Sign up with:</p>
    <a href="/auth/twitter" class="btn btn-twitter"><span class="fa fa-twitter"></span> Twitter</a>
    <a href="/auth/google" class="btn btn-google"><span class="fa fa-google-plus"></span> Google+</a>

  <hr>

  <p>Already have an account? <a href="/login">Login</a></p>
</div>